/* Fond de la page avec une image */
.root {
    -fx-font-family: "Segoe UI", sans-serif; /* Police moderne */
    -fx-background-image: url("../images/lab_background.jpg"); /* Chemin vers l'image */
    -fx-background-size: cover; /* L'image couvre toute la surface */
    -fx-background-repeat: no-repeat; /* L'image ne se répète pas */
    -fx-background-position: center; /* L'image est centrée */
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: center;
}

/* Titre principal */
.title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #0077b6;
}

/* Fond transparent autour du titre */
.title-background {
    -fx-background-color: rgba(255, 255, 255); /* Fond légèrement transparent */
    -fx-padding: 10 20; /* Ajuste l'espace autour du titre */
    -fx-border-radius: 10;
    -fx-alignment: center;
    -fx-min-width: 90px; /* Adapte la largeur au texte */
    -fx-max-width: 350px; /* Garde la largeur au plus juste */
}

/* Style des ComboBox */
#solutionComboBox, #indicateurComboBox {
    -fx-font-family: "Segoe UI", sans-serif; /* Police moderne */
    -fx-background-radius: 15px;
    -fx-padding: 8px;
    -fx-font-size: 14px;
    -fx-border-color: #0077b6;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
}

/* Style pour le bouton Démarrer avec icône */
#startButton {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #0077b6;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 5px 15px;
    -fx-background-radius: 15px;
    -fx-content-display: left; /* Pour afficher l'icône à gauche du texte */
    -fx-graphic: url("../images/start_icon.png"); /* L'icône à afficher */
}

/* Effet de survol pour le bouton Démarrer */
#startButton:hover {
    -fx-background-color: #d9534f;
}

/* Style pour le texte de résultat */
#resultatText {
    -fx-font-family: "Segoe UI", sans-serif; /* Police moderne */
    -fx-font-size: 16px;
    -fx-text-fill: #333;
    -fx-font-weight: normal;
    -fx-padding: 20px;
    -fx-alignment: center;
}

/* Style de l'animation de simulation */
#simulationContainer {
    -fx-font-family: "Segoe UI", sans-serif; /* Police moderne */
}

/* Bouton Soumettre */
#submitButton {
    -fx-font-family: "Segoe UI", sans-serif; /* Police moderne */
    -fx-background-color: #0077b6;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 5px 15px;
    -fx-background-radius: 15px;
}

.button-action {
    -fx-font-family: "Segoe UI", sans-serif; /* Police moderne */
    -fx-background-color: #0077b6;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 5px 15px;
    -fx-background-radius: 15px;
}

/* Effet de survol pour le bouton Démarrer */
#submitButton:hover {
    -fx-background-color: #d9534f;
}

.button-action:hover {
    -fx-background-color: #d9534f;
}