.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-image: url("../images/creer_tp.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-alignment: center;
}

.container {
    -fx-background-color: white;
    -fx-padding: 25;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0, 5);
}

/* Fond transparent autour du titre */
.title-background {
    -fx-background-color: rgba(255, 255, 255); /* Fond légèrement transparent */
    -fx-padding: 10 20; /* Ajuste l'espace autour du titre */
    -fx-border-radius: 10;
    -fx-alignment: center;
    -fx-min-width: 80px; /* Adapte la largeur au texte */
    -fx-max-width: 160px; /* Garde la largeur au plus juste */
}

/* Titre principal */
.title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #0077b6;
}

/* TextField */
.text-field {
    -fx-pref-width: 250px;
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: #0077b6;
}

/* ComboBox */
.combo-box {
    -fx-pref-width: 250px;
}

/* Style des boutons */
.button {
    -fx-background-color: #0077b6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #d9534f;
}
